@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #181719;
}
/*MENU PAGE*/

nav,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
}

label.logo {
  font-family: Crimson;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  color: #ffffff;

  line-height: 22px;
  padding: 10px;
  line-height: 80px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

nav #icon {
  color: white;
  line-height: 80px;
  float: 100px;
  margin-right: 100px;
  display: none;
  position: absolute;
}

@media (max-width: 1311px) {
  body {
    padding: 10px;
  }
}

@media (max-width: 1000px) {
  nav #icon {
    display: inline-block;
    margin-left: 0;
  }
  nav ul {
    position: fixed;
    widows: 100%;
    height: 100vh;
    background: #181719;
    left: -100%;
    text-align: center;
    transform: all 0.5s;
  }
  nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  a:hover {
    border: none;
    color: #333333;
  }
  nav ul.show {
    left: 0;
  }
}

nav {
  padding: 20px 0 100px 0;
}

nav ul {
  position: relative;
  float: right;
}

nav li {
  display: inline-block;
  margin: 0 10px;
  line-height: 80px;
  margin-left: 70px;
}

nav a {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
}

a:hover {
  font-weight: bold;
  transform: 0.5s;
}

/*MAIN HOMEPAGE*/

.main__inf {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
}

.img_principal {
  width: 100%;
}
