@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #181719;
}
/*MENU PAGE*/

nav,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
}

label.logo {
  font-family: Crimson Pro;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  color: #ffffff;

  line-height: 22px;
  padding: 10px;
  line-height: 80px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

nav {
  padding: 20px 0 100px 0;
}

nav ul {
  position: relative;
  float: right;
}

nav li {
  display: inline-block;
  margin: 0 10px;
  line-height: 80px;
  margin-left: 70px;
}

nav a {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
}

a:hover {
  font-weight: bold;
}

/*MAIN HOMEPAGE*/

.main__inf {
  display: grid;
  grid-template-columns: 50% 50%;
}

.img_principal {
  width: 100%;
}
